# folders
checkpoint
test_result
data
paper


# embedding
fewshot_re_kit/kg_toolkit/wiki_onto

# files
*.pyc
*.swp
*.tar
*.sh
sbatch*
*.ipynb

# data
pretrain/glove
pretrain/bert-base-uncased

# ERNIE
kg_embed
ernie_base

# virtualenv
.virtual

# result
result*

# test data
data/test_wiki.json
data/test_pubmed.json
data/train_wiki+pubmed.json
data/pubmed.json

# tmp file
pretrain.tar
*__pycache__
.nfs*

# mac cache
.DS_Store

# editor cache
.idea
.vscode
.venv




